@page
@model To_Do_List.Pages.Checkout.CheckoutModel
@{
}

<div>
    <div>
        <div class = "text-center">
            <h3>We add a new mission: "@Model.MissionText"</h3>
            <p>Now you can come back to <a class=" nav-link text-dark bg-light w-25 dark-mode" asp-area="" asp-page="/Index">Home Page</a></p>
        </div>
    </div>
</div>