@page
@model To_Do_List.Pages.Checkout.CheckoutModel
@{
}

<div>
    <div>
        <div>
            <p>We add a new mission: @Model.MissionText</p>
            <p>Now you can come back to <a class="nav-link text-dark" asp-area="" asp-page="/Index">HomePage</a></p>
        </div>
    </div>
</div>