@page
@model To_Do_List.Pages.Checkout.CheckoutModel
@{
}

<div>
    <div>
        <div class = "text-center">
            <p>We add a new mission: @Model.MissionText</p>
            <p>Now you can come back to <a class="nav-link text-dark btn btn-primary" asp-area="" asp-page="/Index">HomePage</a></p>
        </div>
    </div>
</div>